@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-helvetica-now), system-ui, sans-serif;
  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-950: var(--brand-950);

  --color-accent-50: var(--accent-50);
  --color-accent-200: var(--accent-200);
  --color-accent-500: var(--accent-500);
  --color-accent-700: var(--accent-700);
}

/* @theme {
  --color-brand-50: #f3f6f3;
  --color-brand-100: #e1eae1;
  --color-brand-200: #c5d5c5;
  --color-brand-300: #9eb7a0;
  --color-brand-400: #739477;
  --color-brand-500: #4c6c51;
  --color-brand-600: #3f5c44;
  --color-brand-700: #324a37;
  --color-brand-800: #293c2d;
  --color-brand-900: #233126;
  --color-brand-950: #131b15;
  --color-accent-50: #f7f5ef;
  --color-accent-200: #c2ae87;
  --color-accent-500: #a38555;
  --color-accent-700: #695037;
} */

@utility section-container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
